<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true" 
         bootstrap="vendor/autoload.php" 
         cacheResult="true" 
         backupGlobals="false">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>helpers.php</file>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage" lowUpperBound="50" highLowerBound="80"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="cache">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
